.container {
    margin          : 2.5rem auto;
    display         : flex;
    flex-direction  : column;
    width           : 75%;
    padding         : 2rem;
    font-family     : 'Nunito Sans', sans-serif;
}

.img {
    width     : 100%;
    max-width : 600px;
    max-height: 350px;
    height    : auto;
}

.title {
    margin-top: 1rem;
}

.info {
    display        : flex;
    justify-content: space-around;
}

.back {
    height          : auto;
    margin-bottom   : 4rem;
    background-color: var(--theme-page-background-elements);
    width           : 12%;
    padding         : 0.6rem;
    text-decoration : none;
    text-align      : center;
    border-radius   : 0.4rem;
    box-shadow      : 0px 0px 3px 2px rgba(107, 106, 107, 0.3);
    font-weight     : 600;
    color           : var(--theme-color);
    transition      : all .2s ease-in-out;
}

.back:hover {
    transform : scale(1.1);
    box-shadow: 1px 2px 2px 1px var(--theme-scale-shadow)
}

.data {
    margin-top     : -1rem;
    width          : 40%;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    max-height     : 23rem;
    color          : var(--theme-color)
}

.description {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    margin-top     : -3rem;
}

.description span>span {
    font-weight: 600;
}

.description div {
    display       : flex;
    flex-direction: column;
    line-height   : 1.8rem;
}

.restCountries {
    display  : flex;
    flex-wrap: wrap;
}

.restCountries {
    font-weight : 600;
    margin-right: 0.5rem;
}

.bordersLink {
    background-color: var(--theme-page-background-elements);
    margin          : 0.3rem;
    padding         : 0.4rem;
    text-decoration : none;
    text-align      : center;
    border-radius   : 0.2rem;
    box-shadow      : 0px 0px 3px 2px rgba(107, 106, 107, 0.2);
    font-weight     : 300;
    color           : var(--theme-color);
    font-size       : 0.9rem;
}

.bordersLink:hover {
    background-color: hsl(201, 59%, 18%);
    box-shadow      : 1px 0px 2px 2px rgba(43, 42, 43, 0.2);
    color           : white;
}

.bordertitle {
    margin: auto 0.4rem auto 0;
}

.loader {
    align-self: center
}

@media screen and (max-width: 1500px) {
    .container {
        margin: 0 auto;
    }

    .info {
        flex-direction : column;
        align-items    : center;
        justify-content: center;
    }

    .back {
        margin-bottom: 1rem;
    }

    .data {
        width: 70%;
    }


    .title {
        margin: 3rem 0;
    }

    .restCountries {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1050px) {
    .data {
        width    : 90%;
        font-size: 0.9rem;
    }

    .back {
        font-size: 0.8rem;
        width    : 18%;
    }
}

@media screen and (max-width: 720px) {
    .description {
        flex-direction: column;
        margin-top: 1;
        margin-bottom: 1rem;
    }

    .data {
        margin-top: 1rem;
    }
    
}

@media screen and (max-width: 600px) {
    .restCountries {
        margin-top: 0rem;
    }

    .back {
        width: 33%;
    }
}

@media screen and (max-width: 400px) {
    .data {
        max-height: 40rem;
        margin-top: -2rem;
    }

}

@media only screen and (max-width: 530px) and (min-width: 401px) {
    .data {
        margin-top: 2rem;
    }
}

.single {
    height: 100vh;
}

@media screen and (max-height: 750px) {
    .single {
        height: 100%;
    }
}