.searchbar {
    height          : 100%;
    width           : 25%;
    border-radius   : 0.4rem;
    background-color: var(--theme-page-background-elements);
    box-shadow      : 2px 2px 2px 1px rgba(70, 69, 69, 0.1);
    display         : flex;
    padding-left    : 2rem;
    align-items     : center;
    justify-content : start;
    color           : var(--theme-input-color);
}

.input {
    border     : none;
    outline    : none;
    margin     : 0 1rem 0 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    width      : 100%;
    background-color: var(--theme-page-background-elements);
    color: var(--theme-input-color)
}