@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Nunito Sans', sans-serif;
  transition: all .2s ease-in-out;
  background-color: var(--theme-page-background);
}

.App {
  background-color: var(--theme-page-background);
  transition: all .2s ease-in-out;
}

