@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.App {
  transition      : all .2s ease-in-out;
  background-color: var(--theme-page-background);
  height: 100vh;
}

@media screen and (max-width: 375px) {
  .App {
    height: 100%;
  }
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
